In [1]:
import pandas as pd
import numpy as np

# Original dataset as a dictionary
data = {
    'CustomerID': [1001, 1002, 1003, 1004, 1005, 1006, 1006, 1007, 1008, 1009, 1010, 1010],
    'OrderID': [1001, 1002, 1003, None, 1005, 1006, 1006, 1007, 1008, 1009, 1010, 10101],
    'Product': ['Apple iPhone XR', 'Samsung Galaxy S10', 'Google Pixel 4a', 'OnePlus 9 Pro', 'Apple MacBook Pro',
                'Google Pixel 4a', 'Amazon Echo Dot', 'Sony PlayStation 5', 'Samsung 65" 4K TV', 'Fitbit Versa 3',
                'HP LaserJet Printer', 'HP LaserJet Printer'],
    'Quantity': [2, 1, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1],
    'Price': [699, 899, 349, 799, 1999, 349, 49, 499, 1099, 229, 299, 299],
    'OrderDate': ['2022-01-05', '2021-12-15', '2022-02-28', '2022-03-10', '2020-11-30', '2022-03-15', '2022-04-02',
                  '2022-02-10', '2022-01-20', '2022-03-15', '2022-02-05', None],
    'Status': ['Shipped', 'Cancelled', 'Delivered', 'Processing', 'Shipped', 'Delivered', 'Delivered', 'Shipped',
               'Delivered', 'Processing', 'Delivered', 'Delivered'],
    'Rating': [4.5, 3.2, 4.0, None, 4.8, None, 4.2, 4.6, 4.4, None, None, 4.5]
}

# Create DataFrame
df = pd.DataFrame(data)

# Convert 'OrderDate' to datetime, coercing errors
df['OrderDate'] = pd.to_datetime(df['OrderDate'], errors='coerce')

# Fill missing ratings with an average or placeholder
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

# Standardize 'OrderDate' format
df['OrderDate'] = df['OrderDate'].dt.strftime('%Y-%m-%d')

# Drop duplicates based on 'OrderID'
df = df.drop_duplicates(subset='OrderID', keep='first')

# Fix missing OrderID for the 4th record
df.at[3, 'OrderID'] = 1004

print(df)

    CustomerID  OrderID              Product  Quantity  Price   OrderDate  \
0         1001   1001.0      Apple iPhone XR         2    699  2022-01-05
1         1002   1002.0   Samsung Galaxy S10         1    899  2021-12-15
2         1003   1003.0      Google Pixel 4a         3    349  2022-02-28
3         1004   1004.0        OnePlus 9 Pro         1    799  2022-03-10
4         1005   1005.0    Apple MacBook Pro         1   1999  2020-11-30
5         1006   1006.0      Google Pixel 4a         1    349  2022-03-15
7         1007   1007.0   Sony PlayStation 5         1    499  2022-02-10
8         1008   1008.0    Samsung 65" 4K TV         1   1099  2022-01-20
9         1009   1009.0       Fitbit Versa 3         1    229  2022-03-15
10        1010   1010.0  HP LaserJet Printer         1    299  2022-02-05
11        1010  10101.0  HP LaserJet Printer         1    299         NaN

        Status  Rating
0      Shipped   4.500
1    Cancelled   3.200
2    Delivered   4.000
3   Processing   4.275
4      Shipped   4.800
5    Delivered   4.275
7      Shipped   4.600
8    Delivered   4.400
9   Processing   4.275
10   Delivered   4.275
11   Delivered   4.500